# mlflow
mlflow==2.12.1
mlflow[genai]==2.12.1
psycopg2==2.9.9
boto3==1.34.94
transformers==4.35.2 
peft==0.8.2
bitsandbytes==0.42.0
accelerate==0.27.2 
datasets==2.17.1

python-dotenv==1.0.1

pandas==2.2.2
hyperopt==0.2.7
keras==3.3.3

torch==2.3.0
torchvision==0.18.0

langchain==0.1.10

ipython==8.24.0
ipykernel==6.29.4
ipywidgets==8.1.2

modelscope==1.14.0